<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

<div class="container">
  <h2>🚀 Team Task Manager</h2>
  <p class="subtitle">Manage tasks like a pro</p>

  <div class="card">
    <input id="email" placeholder="Email">
    <input id="password" type="password" placeholder="Password">

    <button onclick="login()">Login</button>
  </div>
</div>

<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>