<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Team Task Manager</title>

    <link
        rel="stylesheet"
        href="/static/style.css?v=999"
    >

</head>

<body>

    <div class="container">

        <div class="login-card">

            <h1>🚀 Team Task Manager</h1>

            <p class="subtitle">
                Manage tasks like a pro
            </p>

            <input
                type="email"
                id="email"
                placeholder="Email"
            >

            <input
                type="password"
                id="password"
                placeholder="Password"
            >

            <button onclick="login()">
                Login
            </button>

        </div>

    </div>

    <script src="/static/app.js?v=2"></script>

</body>

</html>